.Explorer {
  width: 38px;
  max-width: 238px;
  min-width: 238px;

  :global {
    .ant-tree-node-content-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .ant-tree-indent {
      display: none;
    }

    .ant-tree-switcher-noop {
      width: 19px;
    }

    .ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle {
      line-height: 18px;
      vertical-align: middle;
    }
  }
}
