.AddressAnalysis {
  color: #303133;

  .input {
    background: #fefeff;
    border: 1px solid #dce8f9;
    border-left: none;
  }

  .dataPicker {
    background: #fefeff;
    border: 1px solid #dce8f9;
    border-radius: 2px;
  }

  .toolBarContainer {
    margin: 0 10%;
  }

  :global {
    .ant-select-selector {
      border-color: #dce8f9 !important;
    }

    .ant-spin-container {
      height: 100%;
    }
  }
}

@media (min-width: 1650px) {
  .AddressAnalysis {
    .toolBarContainer {
      margin: 0 20%;
    }
  }
}

@media (min-width: 1850px) {
  .AddressAnalysis {
    .toolBarContainer {
      margin: 0 30%;
    }
  }
}
