@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';

body {
  background-color: #f5f5f5;
  min-height: 100vh;
  font-family: 'Alibaba PuHuiTi';
}

/**
  使用自定义图标iconfont 见public/iconfont/demo_index.html
  <svg className="iconfont" aria-hidden="true">
    <use xlinkHref="#icon-ETH"></use>
  </svg>
*/
.iconfont {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

::selection {
  background: #2c2a27;
}
