@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Alibaba PuHuiTi';
  src: url('./assets/fonts/Alibaba-PuHuiTi-Regular.ttf');
  font-display: swap;
}

.ant-modal {
  pointer-events: all !important;
}

.ant-table-thead > tr > th {
  background: #e5f0ff !important;
}

.ant-breadcrumb-separator {
  vertical-align: text-bottom;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(178, 186, 203, 0.5);
  border-radius: 3px;
}

.markBorderG {
  border: 1px solid green;
}
.markBorderR {
  border: 1px solid red;
}

.fadeIn {
  animation: fadeInAnimation 1.5s ease-in-out;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
