@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Alibaba PuHuiTi';
  src: url('./assets/fonts/Alibaba-PuHuiTi-Regular.ttf');
  font-display: swap;
}

.ant-modal {
  pointer-events: all !important;
}

.ant-table-thead > tr > th {
  background: #e5f0ff !important;
}

.ant-breadcrumb-separator {
  vertical-align: text-bottom;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(178, 186, 203, 0.5);
  border-radius: 3px;
}
