@font-face {
  font-family: "iconfont"; /* Project id 2413027 */
  src: url('iconfont.woff2?t=1656492096191') format('woff2'),
       url('iconfont.woff?t=1656492096191') format('woff'),
       url('iconfont.ttf?t=1656492096191') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
  content: "\e64a";
}

.icon-BTC:before {
  content: "\e7ec";
}

.icon-filter-center-focus:before {
  content: "\ebb0";
}

.icon-ETH:before {
  content: "\e639";
}

